<section class="faq">
  <div class="faq-cont">
    <h3>Frequently Asked Questions About Ordering:</h3>
    <ol>
      <li>
        <p>
          <strong>Where does this ship from?</strong><br />All orders are
          shipped from our northern California warehouse. You will receive your
          order anywhere between 2-7 days depending on your location. If you
          would like your order shipped same day, we do offer rush processing
          for just $4.95. This guarantees that your order is shipped out the
          same day as long as the order is placed before 12:00pm PST (3:00pm
          EST)
        </p>
      </li>
      <li>
        <p>
          <strong>How long will shipping take?</strong><br />You will receive
          your order anywhere between 2-7 days depending on your location. If
          you would like your order shipped same day, we do offer rush
          processing for just $4.95. This guarantees that your order is shipped
          out the same day as long as the order is placed before 12:00pm PST
          (3:00pm EST)
        </p>
      </li>
      <li>
        <p>
          <strong
            >Do you ship to Canada, Hawaii, Alaska, and Puerto Rico?</strong
          ><br />We gladly ship to Canada at no extra cost to ship out, but you
          will be expected to cover all brokerage, customs fees, taxes, or
          duties upon purchase by paying a flat $25.00 fee at the time of
          checkout. Shipping time to Canada takes approximately 5-10 business
          days through the United States Post Office. For Hawaii, Alaska, Puerto
          Rico, Virgin Islands, and Guam, shipping is free and can take up to
          2-3 weeks or more for delivery.
        </p>
      </li>
      <li>
        <p>
          <strong>Is the price US Dollar?</strong><br />Yes, All the prices
          listed are USD.
        </p>
      </li>
      <li>
        <p>
          <strong>Do you offer expedited / rush shipping options?</strong
          ><br />Free shipping is offered by default, but we do have 3-day,
          2-day, and 1-day shipping options. Simply enter your zip code and
          state on the checkout page to view the expedited shipping options.
        </p>
      </li>
      <li>
        <p>
          <strong>Is this website secure?</strong><br />Absolutely. Our website
          is verified secure by Trust Guard. You will notice once you reach the
          checkout page that it is secured under "HTTPS". We do not store any
          payment information in our system. We will not share or sell any of
          your personal information.
        </p>
      </li>
      <li>
        <p>
          <strong>What is the return policy?</strong><br />We offer a 30-day
          return policy which starts from the date you receive your purchase. If
          you would like to return or exchange your purchase for any reason,
          simply call or e-mail us within 30-days. For more information, please
          visit our <a href="/pages/return-policy">return policy page</a>.
        </p>
      </li>
      <li>
        <p>
          <strong>Will my cover stay on in high winds?</strong><br />No cover,
          fully custom or semi-custom, will stay on the vehicle during high
          winds. If you're using your cover outside, we strongly recommend our
          Gust Strap Wind Protector. You can purchase it by clicking the
          following link: <a href="/products/gust-strap">Gust Strap</a>
        </p>
      </li>
      <li>
        <p>
          <strong>Why are there no mirror pockets?</strong><br />We have found
          that mirror pockets tend to be the first part of the cover to tear or
          rip. Our covers are designed to accommodate your mirrors without
          pockets. This ensures that you get the maximum durability for your car
          cover.
        </p>
      </li>
      <li>
        <p>
          <strong>Where can I view customer reviews?</strong><br />We have over
          131,000 reviews with a lot of positive feedback about our best-selling
          cover - the Platinum Shield. You can view them by
          <a href="/">clicking here</a>.
        </p>
      </li>
    </ol>
  </div>
</section>

{% schema %} { "name": "Cart FAQ", "settings": [] } {% endschema %} {%
stylesheet %} {% endstylesheet %} {% javascript %} {% endjavascript %}
