<div class="main-shopper-approved-container">
  <div class="shopper-approved-row">
  	<div class="rating-container">
    	<div class="rating">4.8</div>
    	<div class="max-rating">Out of 5.0</div>
  	</div>
    <div class="rating-graph-container">
<!--       <div class="star-labels">
        <div>5 Star</div>
        <div>4 Star</div>
        <div>3 Star</div>
        <div>2 Star</div>
        <div>1 Star</div>
      </div> -->
      <a href="https://www.shopperapproved.com/reviews/CarCovers.com/" target="_blank" rel="nofollow">
  	  <img class="rating-graph" alt="A graph showing the review rating totals." src="https://www.shopperapproved.com/custom/values-191.252.2560.16687.112397/gold-bars.png" />
      </a>
<!--   	  <div class="rating-amount-labels">
        <div>(112K)</div>
        <div>(16.6K)</div>
        <div>(2560)</div>
        <div>(252)</div>
        <div>(191)</div>
      </div> -->
    </div>
    <div class="star-rating-container">
      <div class="star-rating-header"><div>Overall</div> <div style="padding-top: -20px;">Rating</div></div>
    	<span class="star-rating">★★★★★</span>
  	</div>
  	<div class="customer-percentage">
    	<div class="percentage">98%</div>
    	<div class="percentage-text">
        	of customers that buy <br>
			from this merchant give <br>
			them a 4 or 5-Star rating.
    	</div>
  	</div>
  </div>
</div>
<script type="text/javascript"> var sa_review_count = 20; var sa_date_format = 'F j, Y'; function saLoadScript(src) { var js = window.document.createElement("script"); js.src = src; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); } saLoadScript("https://www.shopperapproved.com/merchant/929.js"); </script><div id="shopper_review_page"><div id="review_header"></div><div id="merchant_page"></div><div id="review_image"><a href="https://www.shopperapproved.com/reviews/CarCovers.com/" target="_blank" rel="nofollow"></a></div></div>

{% schema %}
  {
    "name": "shopper approved",
	"tag": "section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
