<!-- <div class="page-width"> -->
  {% render 'breadcrumbs' %} 
<section id="margin-container">
  	{% section 'car-select' %}
  	{% section 'reviews-slider' %}
  	{% section 'covers-buttons' %}
  	{% section 'why-buy' %}
	{% section 'comparison-chart' %}
</section>
<!-- </div> -->
